#donationHeader{
  height:150px;
  width:900px;
}
#Text{
  color:black;
  font-family:AvenirRegular;
  font-size:1.5rem;
  padding:1% 0 0 1.5%;
}
.textDiv{
  padding:0.5% 3% 0.5% 3%;
  font-family:AvenirRegular;
}
.container{
  background-color: white !important;
  margin-left: 233px !important;
  margin-right: 233px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 900px !important;
}
#Signature{
  height:60px;
  width:150px;
  padding-top:2%;
  padding-bottom: 1%;
}
#footer{
  bottom:0;
  height:20px;
  width:900px;
}

#donationPlea{
  font-family: AvenirBoldCn;
}
.pdfViewer{
  display : block;
}
.pdfViewerMobile{
  display : none;
}
@media only screen and (max-width: 414px) {
	.pdfViewer{
 		display : none;
	}
  .pdfViewerMobile{
    display : block;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #donationPlea,#textDiv,#Text{
    font-family: Arial !important;
  }
}
#AuctionDivBox{
  background-color:white;
  height:100px;
  width:220px;
  text-align:center;
  float:right;
}
#AuctionImage{
  height:60px;
  width:60px;
  margin-top:5%;
  cursor:pointer;
}
#auctionTextDiv{
  font-size:1.25rem !important;
  margin-top:2%;
}
/*iPadLandscape*/
@media screen and (max-width:1020px) and (min-width:800px) {
  #AuctionDivBox{
    background-color:white;
    height:90px;
    width:150px;
    text-align:center;
    float:right;
  }
  #AuctionImage{
    height:50px;
    width:50px;
    margin-top:1%;
    cursor:pointer;
  }
  #auctionTextDiv{
    font-size:1.25rem !important;
    margin-top:2%;
  }
}
/*iPadPortrait*/
@media screen and (max-width:800px) and (min-width:500px) {
  #AuctionDivBox{
    background-color:white;
    height:90px;
    width:150px;
    text-align:center;
    float:right;
  }
  #AuctionImage{
    height:50px;
    width:50px;
    margin-top:1%;
    cursor:pointer;
  }
  #auctionTextDiv{
    font-size:1.25rem !important;
    margin-top:2%;
  }
}
/*iPhoneLandscape*/
@media screen and (max-width:800px) and (max-height:500px) {
}
/*iPhonePortrait*/
@media screen and (max-width:500px){
  #AuctionDivBox{
    background-color:white;
    height:85px;
    width:100%;
    text-align:center;
    float:right;
  }
  #AuctionImage{
    height:50px;
    width:50px;
    margin-top:1%;
    cursor:pointer;
  }
  #auctionTextDiv{
    font-size:1.25rem !important;
    margin-top:2%;
  }
}
