#auctionLogo{
  height:90px;
  width:90px;
  filter:brightness(90%);
}
#auctionText{
  padding-top:6%;
}
@media screen and (max-width:1050px) and (min-width:500px){
  #auctionLogo{
    height:75px !important;
    width:75px !important;
    filter:brightness(90%);
  }
  #auctionText{
    padding-top:2%;
    padding-bottom: 2%;
  }
}
@media screen and (max-width:500px){
  #auctionLogo{
    height:50px !important;
    width:50px !important;
    filter:brightness(90%);
  }
}
@media screen and (max-width:800px) and (max-height:500px) {
  #auctionText{
    padding-bottom:6%;
  }
}
